header,
main,
footer {
    display: inline-block;
    justify-content: center;
    align-items: center;
}
header 
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 35px;
    height: 50px;
    margin-bottom: 50px;
    color: #fff;
}
.headerimg{ 
    height: 50px;
}
header > div {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 0px;
    gap: 18px;
}
.header{
    font-size: 40px;
    line-height: 50px;
}
nav > a{
    display: inline;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    gap: 15px;
    margin-bottom: 200px;
}
.row{
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: #fff;
}
.row > .center-row{
    margin: 50px 0;
    /* flex-direction:; */
    justify-content: center;
    width: 100vw;
    /* flex-direction: column; */
    /* justify-content: center; */
    color: black;
}
.square-text{
    margin-top: 100px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;  
} 
.row-short{
    display: flex;
    flex-direction: column;
    width: 40%;
    gap: 30px;
} 
.row-long{
    display: flex;
    width: 60%;
}
.row-short > .button{
    width: 55%;
    text-align: center;
    font-size: 20px;
    padding: 20px 20px;
    background-color: #fff;
    border-radius: 12.5px;
    border: none;
}
.img{
    width: 55%;
} 
